.wrapProject{
	background-color: #0c0c0c;
	width: 100vw;
	height: 100vh;
	overflow:  hidden;
	display: flex;
	justify-content: center;
}
.contentProject{
	height: 100vh;
	max-width: 1370px;
	flex: 1 1 auto;
	margin: 0 100px;
}

.selectProject{
	
	max-width: 850px;
	margin: 40px auto 60px;
	animation: selectProjectAnimation 1s ease forwards;
	position: relative;
	left: 1000px;
}
@keyframes selectProjectAnimation{
	0%{left: 1000px;}
	100%{left: 0px;}
}
.selectProject-btn{
	font-family: 'Integral CF';
	font-weight: 900;
	font-size: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
}
.selectProject-btn_back, .selectProject-btn_front{
	border: 0;
	background: none;
	font-family: 'Integral CF';
	font-weight: 900;
	font-size: 20px;
	color: #fff;
	cursor: url("../../../cursors/Pointer2.cur"), default;
}


.projectsProject{
}
.projectsProject-itemFirst, .projectsProject-itemSecond{
	display: flex;
	justify-content: space-between;
}
.projectsProject-item_infoActive, .projectsProject-item_info{
	border: 1px solid rgb(255, 255, 255);
	max-width: 32%;
	flex: 1 1 auto;
	max-height: 350px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	cursor: url('../../../cursors/Pointer2.cur'), default;
}
.projectsProject-item_infoActive:hover{
	border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23ffffff' /%3E%3Cstop offset='25%25' stop-color='%23ffffff' /%3E%3Cstop offset='50%25' stop-color='%23ffffff' /%3E%3Cstop offset='100%25' stop-color='%23ffffff' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}
.projectsProject-item_info:hover{
	animation: blockProjectAnimation 1.5s ease forwards;
}
@keyframes blockProjectAnimation{
	0%{background-color: #0c0c0c; color: #fff;}
	100%{background-color: #fff; color: #0c0c0c;}
}

.projectsProject-item_info{
	max-height: 70px;
}
.projectsProject-item_nameActive, .projectsProject-item_name{
	font-family: 'Integral CF';
	font-size: 20px;
	font-weight: 400;
	margin-top: 55px;
	margin-bottom: 50px;
}
.projectsProject-item_name{
	margin: 20px 0;
}
.projectsProject-item_descriptionActive{
	font-family: 'Montserrat';
	font-size: 15px;
	font-weight: 400;
	max-width: 80%;
	line-height: 25px;
	margin-bottom: 143px;
}
.projectsProject-item_description{
	display: none;
}





.none{
	text-decoration: line-through;
	position: relative;
}
.active{
	position: relative;
}

.selectProject-btn_back::before{
	content: ""; 
	width: 400px;
	height: 1px;
	border-top: 2px solid rgb(255, 255, 255);
	position: absolute;
	top: 14px;
	left: -430px;
}
.selectProject-btn_front::before{
	content: ""; 
	width: 400px;
	height: 1px;
	border-top: 2px solid rgb(255, 255, 255);
	position: absolute;
	top: 14px;
	left: 290px;
}



@media screen and (max-width: 1200px){
	.projectsProject-item_nameActive{
		font-size: 15px;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	.projectsProject-item_descriptionActive{
		margin-bottom: 40px;
	}
	.projectsProject-item_name{
		font-size: 15px;
	}
} 
@media screen and (max-width: 1050px){
	.projectsProject-item_nameActive{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.projectsProject-item_descriptionActive{
		font-size: 13px;
		margin-bottom: 50px;
	}
} 
@media screen and (max-width: 1000px){
	.selectProject{
		margin: 35px auto 40px;
	}
	.projectsProject-item_infoActive, .projectsProject-item_info{
		/* border: 1px solid rgb(255, 255, 255); */
		max-height: 350px;
		max-width: 48%;
		margin-bottom: 10px;
	}
	.projectsProject-item_info{
		max-width: 48.5%;
		max-height: 70px;
	}
	.projectsProject-item_nameActive, .projectsProject-item_name{
		font-size: 13px;
		margin: 20px 0;
	}
	.projectsProject-item_descriptionActive{
		font-size: 13px;
		margin-bottom: 50px;
	}
} 
@media screen and (max-width: 768px){
	.contentProject{
		margin: 0 50px;
	}
	/* .projectsProject-item_nameActive, .projectsProject-item_name{
		margin-top: 25px;
		margin-bottom: 20px;
	} */
	.projectsProject-item_info{
		max-height: 60px;
	}
	.projectsProject-item_descriptionActive{
		font-size: 12px;
		margin-bottom: 30px;
	}
	.selectProject-btn{
		font-size: 13px;
	}
	.selectProject-btn_back, .selectProject-btn_front{
		font-size: 13px;
		color: #fff;
	}
	.selectProject-btn_back::before{
		top: 10px;
	}
	.selectProject-btn_front::before{
		left: 205px;
		top: 10px;
	}
} 
@media screen and (max-width: 710px){
	.projectsProject-item_nameActive, .projectsProject-item_name{
		margin-top: 10px;

		font-size: 12px;
	}
	.projectsProject-item_info{
		max-height: 40px;
	}
	.projectsProject-item_descriptionActive{
		font-size: 11px;
		margin-bottom: 20px;
	}
} 

@media screen and (max-width: 630px){
	.projectsProject-itemFirst{
		display: block;
	}
	.projectsProject-item_info{
		border: 1px solid rgb(255, 255, 255);
		max-height: 350px;
		max-width: 550px;
		margin-bottom: 10px;
	}
	.none{
		text-decoration: none;
	}
	.projectsProject-item_name{
		font-size: 15px;
		margin: 20px 0;
	}
	.projectsProject-item_info:hover .projectsProject-item_description{
		font-family: 'Montserrat';
		display: flex;
		padding: 0 30px;
		font-size: 13px;
		font-weight: 400;
		line-height: 25px;
		margin-bottom: 40px;
	}
} 
@media screen and (max-width: 450px){
	.projectsProject-item_name{
		font-size: 12px;
		margin: 15px 0;
	}
	.projectsProject-item_info:hover .projectsProject-item_description{
		padding: 0 20px;
		font-size: 11px;
		margin-bottom: 25px;
	}
	.selectProject-btn{
		font-size: 10px;
	}
	.selectProject-btn_back, .selectProject-btn_front{
		font-size: 10px;
	}
	.selectProject-btn_back::before{
		top: 7px;
	}
	.selectProject-btn_front::before{
		left: 170px;
		top: 7px;
	}
} 
@media screen and (max-width: 420px){
	.contentProject{
		margin: 0 25px;
	}
} 